@manifest url('manifest.xml');

IDisplayObject	{ shape: rectangle; visibility: visible; opacity: 1; }
/*UITextField		{ color: #000; font-size: 40px; }*/
UIWindow		{ overflow: hidden; }
ApplicationView	{ width: 100%; height: 100%; algorithm: float-ver( top, center ); border: 2px solid #f00 inset; }

ListView		{ overflow: hidden; }
InputField		{ border: 1px solid #000; }
Label			{ min-width: 100px; background: #eee; }
Image			{ max-width: 150px; }
Button			{ algorithm: float-hor( left, center ); border: 2px solid #f0f; background: #00000011; font: Verdana 20px; }
Button:hover	{ font-weight: bold; font: "Courier New"; }
Button:down		{ font: "Courier New"; }

