@import url('../../../styles/empty/BasicStyle.css');
@manifest url('manifest.xml');


MainWindow {
    algorithm: float-ver(top, center);
}

Button {
	background: #aaa;
	
}

Image {
	min-width: 200px;
	min-height: 200px;
	border: 1px #f00 solid;
	max-width: 200px;
	max-height: 200px;
}