@import url('../empty/Style.css');
@manifest url('manifest.xml');

/*UIComponent { opacity: .6; border: solid 3px #f0f inset; }*/

EditorView {
	algorithm: float-ver;
}

ApplicationMainBar {
	width: 100%;
	height: 40px;
	background: #252525;
	font: "Helvetica Bold" 9px #fff;
}

FramesToolBar {
	background: linear-gradient( -90deg, #d4d4d4 0%, #eee 90%, #fff 100% );
	algorithm: float-hor(center, top);
	
	width: 100%;
	padding-bottom: 15px;
	
	/** ( <distance>px? <blurX>px? <blurY>px? <strength>? ) | <angle>deg? | ( (<rgba> <pos>) (<rgba> <pos>).. ) | <inner>? | <knockout>? | <quality>? **/
	box-shadow: 0px 16px 16px 1 90deg #0000004b;
}

FrameTypesBar {
	algorithm: float-ver(top, center);
	width: auto;
}

FrameTypesBarList {
	algorithm: float-hor(left);
	border-radius: 10px;
	border: 1px solid #b5b5b5;
	
	/* ( <blurX>px? <blurY>px? <strength>? ) | <rgba>? | <inner>? | <knockout>? | <quality>? */
	box-glow: 2px 2px 3 #ffffff;
}




FrameTypesBar .title {
	width: 130px;
	padding: 4px 4px;
	
	border-radius: 0px 0px 22px 22px;
	border: solid 2px #fff;
	
	font: Helvetica 11px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	
	box-shadow: 1px 6px 6px 90deg #00000058;
}

#linkFramesBarTitleField	{ background: #7baa28; }
#mediaFramesBarTitleField	{ background: #289caa; }
#elementFramesBarTitleField	{ background: #aa2862; }




FrameTypesBarList FrameButton {
	width: 100px;
	height: 65px;
	
	font: Helvetica 9px;
	/*color: #393939;*/
	text-align: center;
	text-transform: capitalize;
	
	icon: url(/Users/ruben/Desktop/naamloze map/14_gradient.png);
}

FrameTypesBarList FrameButton:hover {
	background: linear-gradient( -90deg, #d3d3d3 0%, #e6e6e6 99.5%, #fff 100% );
}

FrameTypesBarList FrameButton:down {
	background: linear-gradient( -90deg, #4e4e4e, #6e6e6e );
	color: #fff;
	font-weight: bold;
}

FrameTypesBarList .first	{ border-radius: 10px 0px 0px 10px; }
FrameTypesBarList .last		{ border-radius: 0px 10px 10px 0px; }