@import url('BasicStyle.css');
@manifest url('TestManifest.xml');

ComponentsTest	{ algorithm: float-ver(top, center); }
UIComponent		{ h-center: 0px;}

InputField		{ margin: 10px 0px; padding: 5px; min-width: 100px; border: 1px solid #000; background: #00a; color: #fff; font-weight: bold; }
Label			{ margin: 10px 0px; background: #050; color: #fff; }
Button			{ margin: 10px 0px; background: #aaa; padding: 5px; skin: Class( primevc.gui.components.skins.ButtonLabelSkin ); }
Button:hover	{ font-weight: bold; font: "Courier New"; }
Button:down		{ font: "Courier New"; text-decoration: underline; }
Image			{ max-height: 200px; max-width: 100px; }
Slider			{ margin: 10px 0px; background: #aaa; }
.horizontalSlider UIGraphic	{ background: #000; }
.verticalSlider UIGraphic	{ background: #000; }


ProgressBar {
	height: 25px;
	width: 100%;
	margin: 20px;
	border-radius: 23px;
	algorithm: relative;
	
	background: linear-gradient( 90deg, #7B7B7B 0%, #969696 33%, #A7A7A7 100% );
	border: 1px solid #000 outside;
	skin: Class(primevc.gui.components.skins.LinearProgressSkin);
}

ProgressBar #indicator {
	height: 100%;
	top: 0px;
	border-radius: 20px;
	background: linear-gradient( 90deg, #5e5e5e, #1e1e1e );
	/*border: 1px solid #aaa outside;*/
}