UIComponent { color: #000; shape: rectangle; }
UIGraphic { color: #000; }
UITextField { color: #000; }
Tile { color: #000; shape: ellipse; }


GlobalApp {
	relative: 5px 5px 5px;
	width: 50%;
	padding: 5px;
	algorithm: float-hor;
	border: solid 1px #000;
}


Button {
	width: 15px;
	height: 15px;
	margin: 10px;
	background: #fff;
/*	background: radial-gradient( -1, #aaa, #000 40px, 0xadfc67f0 50%, #0f0f0f0f 60%, #222 70.987%, 0xabcdefdd 254.8px, repeat );*/
/*	background: linear-gradient( 90deg, #ffffff00, #444, #fff );*/
	border: 1px solid #000;
/*	box-shadow: 4px 8px 8px #ff0000aa 180deg;
	box-bevel: #000fff #00ff00;
	box-glow: #000fff;
	box-blur: 10px 10px;*/
}

Frame {
	border: solid 3px #fedcba;
	background: #abcdef44;
}

TileList {
	padding: 10px;
	child-width: 40px;
	child-height: 40px;
}


#frame0 {
	algorithm: float-ver( bottom );
	height: 100%;
}

#frame1 {
	algorithm: float-hor( left );
	height: 60px;
	
	top: 5px;
	right: 5px;
	left: 5px;
}

#frame2 {
	algorithm: fixed-tile( vertical, 16, left, bottom );
	width: 58%;
	top: 90px;
	bottom: 5px;
	left: 5px;
}

#frame3 {
	algorithm: dynamic-tile;
	width: 100%;
	height: 40%;
}

#frame4 {
	background: #a00;
	width: auto;
	height: 100%;
}

#frame5 {
	background: #0a0;
	width: auto;
	height: 100%;
}

#frame6 {
	background: #00a;
	width: auto;
	height: 100%;
}

#frame7 {
	width: 60%;
	height: 5%;
}

#frame8 {
	width: 100%;
	height: 40%;
	algorithm: circle;
}


/*import url("reset.css");
import "screen.css";*/
/*
UIComponent {
	float: left;
	text-align: center;
	color: rgba(50, 12, 200,0.1);
/*}

Label {
	font-weight: bold;
	background-color: rgba(80, 255, 90, 0.89);
	background-color: #fffd460a;
	background-color: #ffa;
	background-image: url(../images/test.png) no-repeat;
	text-align: left;
/*	background-image: Class(nl.onlinetouch.Aap) repeat-both; */
}
/*

* {
	font-size: 10px;
}


Tile {
	font-weight: bold;
}

UIWindow {
	
}
GlobalApp {
	max-width: 200px;
}

TextArea {
	background-color: linear-gradient( 90deg, #aaa, #dddddd, #eee, #fff );
	background-color: #ffad97f0;
	
	column-count:	4;
	column-gap:		20px;
	column-width:	120px;
	column-rule:	1px solid #aaa;
	word-wrap:		break-word;
	
	algorithm:		circle( left, top );
	
	min-width: 50px;
	min-height: 10px;
	max-height: 20em;
	left: 0;
	right: 400px;
	top: 10px;
	v-center: 0;
}

.eenVeld {
	font: 12px bold italic Verdana;
	width: 50px;
	height: 10%;
	child-width: 3em;
	child-height: 400px;
	background-color: radial-gradient( -1, #aaa, #000 40px, 0xadfc67f0 50%, #0f0f0f0f 60%, #222 70.987%, 0xabcdefdd 254.8px, repeat );
	border-color: #f00;
	border-width: 3px;
	border-radius: 5px 2px;
	padding: 4px 3px;
	position: absolute;
	algorithm: float-hor( right );
}

TextArea Button Aap .eenVeld {
	width: 40px;
	padding: 0;
}

#idable {}

#idable .eenVeld Label { font-size:44px;}*/