@import url('../../../../styles/empty/BasicStyle.css');
@manifest url('manifest.xml');


MainWindow {
    algorithm: float-ver(center, center);
}

Button			{ background: #aaa; color: #fff; skin: Class( primevc.gui.components.skins.ButtonLabelSkin ); }
Button:hover	{ background: #faa; color: #000; }

Image {
	min-width: 20px;
	min-height: 20px;
	border: 1px #f00 solid;
	max-width: 200px;
	max-height: 200px;
}